/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 900px;
	margin: auto;
	
}

header nav {
	display: inline-block;
	margin-top: 40px;

}
header nav a {
	text-decoration: none;
	margin: 30px;
	color: lightslategray;
}
header img.logo {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}
.hero {
	/* display: inline-block; */
	height: 500px;
}

.hero h1 {
	display: inline-block;
	font-family: 'Titillium-Web' sans-serif;
	line-height: 1.0;
	font-size: 72px;
	text-align: center;
	letter-spacing: 7px;
	margin: 50px 20px;

}
.heroText {
	display:inline-block;
	margin: 30px 0 0 20px;
}
.hero img {
	display: inline-block;
	float: right;
	/* margin: 50px auto; */
	/* vertical-align: middle; */
	/* position: relative; */
	margin-top: 60px;
	padding: 0 30px;

	
}

.hero button {
	display: block;
	margin: 0 0 0 120px;
	padding: 5px 20px;
	font-family: 'Titillium-Web' sans-serif;
	font-size: 20px;
	background-color: white;
	border: 2px solid black;
}


main .main-content {
	display: inline-block;
	margin: 0 auto;
	padding: 0 30px;

}
main .main-content .top-row {
	display: inline-block;
	margin: 10px 30px;
	padding: 20px;
	width: 250px;
	height: auto;
}
.top-row {
	display:block;
	padding: 20px 0;
	border-top: 1px solid #000;
	padding-top: 50px;
}

.t1 {
	display: inline-block;
	width: 45%;
	margin: 0 20px 20px 0;
}
.t2 {
	display: inline-block;
	width: 45%;
	margin: 0 0 20px 20px;
}

.bottom-row {
	display:block;
	padding: 20px 0;
	border-bottom: 1px solid #000;
	padding-bottom: 50px;
}

.b1 {
	display: inline-block;
	width: 30%;
	/* margin: 0 20px 20px 0; */
}

.b2 {
	display: inline-block;
	width: 30%;
	margin: 0 30px;
}
.b3 {
	display: inline-block;
	width: 30%;
	/* margin: 0 0 20px 20px; */
}
.main-image {
	margin: 30px auto;
}
.middle-img {
	width: 100%;

}
.Contact {
	margin: 50px 0;
}
footer p {
	text-align: center;
}